<div class="col-4">
    <div class="card" style="min-height: 260px"  title="<%= item.description %>">
        <div class="card-body">
            <h5 class="card-title"> <%= item.title %> </h5>
            <h6 class="card-subtitle mb-2 text-muted"> <%= item.authors %> </h6>
            <p class="card-text three-line-subtitle"> <%= item.description %> </p>
            <hr />
            <a href="/books/<%= item._id %>" class="btn btn-primary" role="button">Открыть книгу</a>
            <a href="/books/<%= item._id %>/edit" class="btn btn-secondary" role="button">Изменить книгу</a>
        </div>
    </div>
</div>
