<div class="col-4 col-card">
    <div class="col-card__content">
        <div class="card">
            <img class="card-img-top" src="<%= item.fileCover %>" alt="Card image">
            <div class="card-body">
                <h5 class="card-title"><%= item.title %></h5>
                <p class="card-text"><%= item.description %></p>
                <h6 class="card-author card-subtitle mb-2 text-muted text-end"> &mdash; <%= item.authors %> </h6>
                <hr />
                <a href="/books/<%= item._id %>" class="btn btn-primary" role="button">Открыть книгу</a>
                <a href="/books/<%= item._id %>/edit" class="btn btn-secondary" role="button">Изменить книгу</a>
            </div>
        </div>
    </div>
</div>
